rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if false;
    }
    match /messages/{messageId} {
      allow read: if true;
      allow write: if true;
    }
    match /standup_room/{document=**} {
      allow read, write: if true;
    }
    match /standup_presence/{document=**} {
      allow read, write: if true;
    }
    match /standup_signals/{document=**} {
      allow read, write: if true;
    }
    match /standup_state/{document=**} {
      allow read, write: if true;
    }
    match /calls/{callId} {
      allow read, write: if true;
    }
    match /call_signals/{document=**} {
      allow read, write: if true;
    }
  }
}
